/* terminal */
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
body {
  background-image: url('/images/debut_light.png');
  padding-top: 20px;
  font-size: 18px;
  font-family: 'Droid Serif', Garamond, Georgia, serif;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nixie One", serif;
}
h1,
h2,
h3,
h4 {
  margin-top: 27px;
  line-height: 1.5;
}
h3 {
  font-size: 31px;
}
h4 {
  font-size: 22px;
}
a {
  color: #CA4242;
}
hr {
  border-top: 1px solid #aaa;
}
iframe,
img {
  max-width: 100%;
}
.site-nav {
  margin-bottom: 20px;
}
.site-nav a {
  margin-right: 1em;
}
.sidebar p {
  font-size: 80%;
  color: #767676;
  margin-bottom: 0.75em;
}
.sidebar .location {
  font-weight: 700;
}
.sidebar .social-icons img {
  padding-left: 5px;
}
.site-footer .copyright {
  font-size: 65%;
  color: #767676;
}
div#preload {
  display: none;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
h2.post-title {
  margin-top: 0;
  margin-bottom: 0;
}
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding-left: 0;
}
ul.posts li {
  border-top: 1px solid #ccc;
  padding: 12px 0;
}
ul.posts span {
  color: #ccc;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.post p {
  text-align: justify;
}
.title {
  font-size: 2.36em;
  text-align: left;
}
.meta {
  color: #ccc;
}
.post img {
  max-width: 100%;
  height: auto;
}
.post figure {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.post figcaption {
  font-size: 85%;
  text-align: center;
  font-style: italic;
}
.credit {
  font-size: 85%;
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
}
.gallery {
  text-align: center;
}
.gallery a {
  display: block;
  margin-bottom: 20px;
}
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}
.post ul,
.post ol {
  margin-left: 1.35em;
}
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}
.post pre code {
  border: none;
}
/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}
.post pre.terminal code {
  background-color: #333;
}
/*****************************************************************************/
/*
/* Media queries
/*
/*****************************************************************************/
/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}
