<img src="/images/luke-harvey.gif" alt="Luke Harvey" />
<h3 class="author">{{ site.name }}</h3>
<p>Travelling web designer and developer</p>
<p>I'm currently in <span class="location">Chiang Mai, Thailand</span></p>
<p><span class="email">luke[at]lukeharvey[dot]co[dot]uk</span>
</p>
<div class="social-icons">
  <a href="http://www.facebook.com/lukeharvey1" rel="nofollow"><img class="rollover" src="/images/facebook.png" rel="/images/facebook2.png" alt="Add me on Facebook"></a>
  <a href="http://uk.linkedin.com/in/lukeharvey1" rel="nofollow"><img class="rollover" src="/images/linkedin.png" rel="/images/linkedin2.png" alt="Connect on LinkedIn"></a>
  <a href="http://twitter.com/luke_harvey" rel="nofollow"><img class="rollover" src="/images/twitter.png" rel="/images/twitter2.png" alt="Follow me on Twitter"></a>
  <a href="/feed.xml" rel="nofollow"><img class="rollover" src="/images/rss.png" rel="/images/rss2.png" alt="Subscribe to my RSS feed"></a>
</div>

<!-- Begin MailChimp Signup Form -->
<section id="mc_embed_signup" class="newsletter">
  <form action="http://luketheguru.us7.list-manage.com/subscribe/post?u=cacc0b7f1a8ba29e5aae45c44&amp;id=c89e10d501" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
    <h4>Subscribe to my mailing list</h4>
    <div class="mc-field-group form-group">
      <label for="mce-EMAIL" class="sr-only">Email Address</label>
      <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email address">
    </div>
    <input type="submit" value="Yes!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
  </form>
</section>
<!--End mc_embed_signup-->